package templates 

templ Page(title string) {
	<!DOCTYPE html>
	<html lang="en" class="h-full">
		<head>
			<meta charset="UTF-8"/>
			<script src="https://cdn.tailwindcss.com" defer></script>
			<script src="https://unpkg.com/htmx.org@1.9.8" integrity="sha384-rgjA7mptc2ETQqXoYC3/zJvkU7K/aP44Y+z7xQuJiVnB/422P/Ak+F/AqFR7E4Wr" crossorigin="anonymous" defer></script>
			<title>{ title }</title>
		</head>
		<body>
			{ children... }
		</body>
	</html>
}
