package templates 

import "test/todo/models"

templ TodoCreate(title string, todo models.Todo) {
	@Page(title) {
		<section>
			@todoCreate(todo)
		</section>
	}
}

templ todoCreate(todo models.Todo) {
	<div></div>
}
